body{
  background-image: url(../../picture/phone.png);
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  padding:0px auto;
}

main{
  width: 90%;
  font-family: "Arial";
  padding:0px auto;
  margin: 0 auto;
}

footer{
  margin-top: 80px;
  background-color: #6667AB;
  max-width: 100%;
  height: 120px;
  font-family: "Arial";
  font-size: 12px;
  flex: 0 0 auto;
}









.knopka {
	background-color: #6610f2;
    color: black;
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.left {
	float: left;
}

.right {
	float: right;
}

a{
  text-decoration: none;
  color: #000000;
}

.topdesk{
  margin: 0 auto;
  max-width: 100%;
  background-color: #6667AB;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  justify-content: center;
}

.head{
  font-size: 50px;
  margin-right: auto ;
  margin-left: auto;
  margin-bottom: auto;
}

.head_box{
  display: grid;
  margin-top: 15px;
  margin: 0 auto;
  justify-content: center;
}

.aut_head{

  font-size: 27px;
  margin: o auto;
}

.form-box{

  padding-top: 2em;
}

.center {
  position: relative;
  padding: 50px 50px;
  background: #BEC2CB;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  width: 65%;
  margin: 0 auto; 
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid #6667AB;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="button"] {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, darkblue, dodgerblue);
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 0.5em;
  padding-top: 0.5em;
  display: flex;
  justify-content: space-around;
}

.rig-fn {


}

.foot_inf{
  padding-top: 10px;
  width: 250px;
  display: block;
}

.foot-pic{
  padding-top: 5px;
  width: 200px;
  margin: 10px;

}

.foot-blck{
  border-radius: 10px;
  background-size: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.foot_link{
  padding-top: 10px;
  display: block;
}



.lef-fn {

  width: 300px;
  display: block;
}

.pop1{
  margin-top: 15px;
  justify-content: center;
  font-size: 30px;
  background-color: #6667AB;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}






.info-box{
    padding-bottom: 2em;
}

.index-container{
    display: flex;
    justify-content: space-around;
    background-color: #47497a;
    padding: 0.5em 0 0.5em;
    border-radius: 10px;
    width: 100%;
    padding: ;
}





.column{
    
    height: 100%;
    margin: 0 auto ;
    width: 70%;
    padding-top: 2em;
    display: grid;
    background-color: #BEC2CB;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);


}

.info-box{
    padding-bottom: 2em;

}


.index-container{
    display: flex;
    justify-content: space-around;
   
    padding: 0.5em 0 0.5em;
    width: 100%;
}

.prod-img {
    width: 150px;
    height: 150px;
    padding: 5px;
    padding-bottom: 4px ;


}

.img-container {
    border: 1px solid ;
    border-color: #cccccc;
    border-radius: 5px;
}



.input-name{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    height: 30px;
    width: 100%;
    color: black;

}

.input-desc{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    width: 40%;
    color: black;
}

.input-char{
    width: 100%;
    height: 50%;
    background-color: black;
}

.buy-box{
   width: 10%;
}

.input-price {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    height: 30px;
    width: 80% ;
    margin-top: 1em;
    background-color: #BEC2CB;
}

.delete-btn{
    height: 55px;
    width: 100%;
    margin-top: 1em;
}







.inf_page{
  display:block;
  text-align: center;
  padding-top: 1em;
}

.item_name{
  display:block;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}




.col {
  width: 70%;
  margin: 0 auto;
  padding-top: 2em ;

}

.container_2 {
    border-radius: 10px;
    background-color: #BEC2CB;
    padding: 20px;

}

.pick_prof {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.head-inf_prof {
    float: right;
    width: 25%;
    margin-top: 6px;
    margin-left: 20px;
}

.inf_prof {
    float: right;
    width: 35%;
    margin-top: 6px;
    margin-left: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.input-name{
    width: 20%;
}

.input-role{
    width: 12%
}

.input-tg_ID{
    width: 15%
}

.input-inform{
    width: 25%
}

.head-inf_prof {
    float: right;
    width: 15%;
    margin-top: 6px;
}

.inf_prof {
    float: right;
    width: 30%;
    margin-top: 6px;
}

